# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Development
src.zip
src/main/resources/.cache/
src/generated/resources/.cache/
sub_projects/
logs/
versions/*/build/
versions/*/.gradle/
.gradle-bootstrap