[submodule "1.12.2-forge"]
	path = 1.12.2-forge
	url = https://github.com/CurativeTree/BuildCraft.git
	branch = 1.12.2-forge
	router = true
[submodule "1.19.2-forge"]
	path = 1.19.2-forge
	url = https://github.com/CurativeTree/BuildCraft.git
	branch = 1.19.2-forge
	router = true
[submodule "1.20.1-forge"]
	path = 1.20.1-forge
	url = https://github.com/CurativeTree/BuildCraft.git
	branch = 1.20.1-forge
	router = true
[submodule "1.21.1-forge"]
	path = 1.21.1-forge
	url = https://github.com/CurativeTree/BuildCraft.git
	branch = 1.21.1-forge
	router = true
[submodule "1.21.1-neoforge"]
	path = 1.21.1-neoforge
	url = https://github.com/CurativeTree/BuildCraft.git
	branch = 1.21.1-neoforge
	router = true
