# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

src.zip
src.rar
saves
mcmodsrepo
src/main/resources/.cache/
src/generated/resources/.cache/
sub_projects/
1.12.2-forge
1.19.2-forge
1.20.1-forge
1.21.1-forge
1.21.1-neoforge
1.20.1-fabric
1.21.1-fabric